.selectContent {
  display: flex;
  gap: 0 5px;
  padding: 0 10px;
  align-items: center;
  font-size: 13px;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  width: auto;
  white-space: nowrap;
}

.selectContent select {
  border: none;
  outline: 0px;
  background: transparent;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}