.content {
  display: flex;
  align-items: end;
  gap: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.content svg {
  position: absolute;
  top: 22px;
}

.content > div:first-child {
  margin-right: 40px;
}

.content:hover {
  color: var(--red);
  border-bottom: solid 3px;
  border-color: var(--red);
}

.content:hover svg > path {
  fill: var(--red);
}

.content > div > p {
  margin: 0;
  font-size: 22px;
}

.content > div > span {
  font-size: 12px;
}

.content svg {
  width: auto;
  height: 40px;
  width: auto;
}

.region {
  border-bottom: solid 2px;
}

.region svg > path {
  fill: var(--grey-text);
}

.activeRegion svg > path {
  fill: var(--red);
}

.activeRegion {
  color: var(--red);
  border-bottom: solid 3px;
  border-color: var(--red);
}