.content {
  background: #ffffff;
  padding: 10px;
}

.content select {
  height: 34px;
  border-color: var(--grey-text);
  color: #555;
}

.content input[type='checkbox'] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
}

.firstSection {
  display: grid;
  grid-template-columns: 200px 100px 200px 200px;
  gap: 0 10px;
}

.sectionCheck {
  display: flex;
  gap: 0 80px;
  font-size: 14px;
  position: relative;
}

.sectionCheck label {
  margin-left: 5px;
  margin-top: -1px;
  position: absolute;

}

@media screen and (min-width: 933px) {
  .content {
    padding: 20px 50px;
  }

  .sectionContent {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .firstSection {
    display: grid;
    grid-template-columns: 420px 1fr 1fr;
    gap: 0 20px;
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location > div:first-child {
    clip-path: inset(-5px 0px -5px -5px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }

  .location > div:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 35%;
  }

  .secondSession {
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    gap: 0 20px;
  }

  .actionGroup {
    display: grid;
    grid-template-columns: 130px 0.6fr;
    justify-content: space-between;
  }

  .actionGroup > button {
    font-size: 15px;
  }

  .actionGroup > button:nth-child(1) {
    color: var(--red);
    font-weight: 600;
    background:transparent;
    position: relative;
  }
  
  .actionGroup > button:nth-child(1)::before {
    content: '›';
    font-size: 18px;
    margin-right: 5px
  }

  .actionGroup > div {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  .actionGroup > div > button:nth-child(1) {
    font-size: 14px;
  }

  .actionGroup > div > button:nth-child(2) {
    background: var(--red);
    color: #ffffff;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
  }
}