body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --red: #b30909;
  --grey-text: #828282;
  --grey-background: #e3e3e3;
}

button {
  padding: 0;
  margin: 0;
  width: auto;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: saturate(150%);
  opacity: 0.8;
}